@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
}

h2 {
  text-align: center;
}

.header {
    align-content: center;
    text-align: center;
    background-color: #355E3B;
    width: 100vw;
    padding: 3em 5em;
    margin-bottom: 0;
    /* font-family: arial;
    font-style: bold; */
}

h1 {
    color: antiquewhite;
    align-content: center;
}

.subheading {
    color: antiquewhite;
    align-content: center;
}


form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
  margin: 0 2em 2em 2em;
  background: #355E3B;
  padding: 1.5em;
  color: rgb(255, 255, 255);
}

.container {
  margin: 20px;
  display: flex;
  align-items: flex-start;
}

.left, 
.right {
  flex-basis: 60%;
  float: left;
  width: 50%;
  padding: 20px;
}

.left {
  margin-right: 10px;
}

label.handicap,
label.genderNeutral,
label.singleStall,
label.children,
label.health,
label.culture {
  font-style: normal;
  color: white;
  font-size: 10pt;
  margin-right: 4em;
}

input[type="checkbox"] {
    border: none;
    line-height: 30px;
    margin: 10px 1em 20px 0px;
    border-radius: 4px;
    padding-left: 10px;
}



input[type="text"],
input[type="subject"],
input[type="radio"] {
  width: 100%;
  border: none;
  line-height: 30px;
  margin: 5px 0 20px;
  border-radius: 4px;
  padding-left: 15px;
}

textarea {
  padding: 15px;
  width: 100%;
  height: 10em;
  margin: 5px 0 0;
  border: none;
  border-radius: 4px;
}

button {
  /* margin: 0px 20px 20px 20px; */
  line-height: 30px;
  border-radius: 4px;
  width: 100%;
  height: auto;
  background-color: #ffffff; 
  color: rgb(41, 41, 41);
  /* border: 0.5px solid black; */
  border: 1px solid #ddd; 
}

@media screen and (max-width: 600px) {
  .container { 
    flex-direction: column; 
  }
}


.validation {
    margin-top: 0;
    padding: 5%;
    text-align: center;
    size: 50px;
    background-color: #4fa473;
    color: azure;
}

.cleanliness {
    color: #ffc700; 
}

/* Below modified from github*/

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color: white;
}
.rate:not(:checked) > label:before {
    content: '★';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */

#map {
    width: 100vw; 
    height: 75vh;
}

#mapPlace {
  width: 100%; 
  height: 40vh;
  padding: 2em;
  float: right;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 1em 4em;
  overflow: hidden;
  background-color: #f1f1f1;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: #964B00;
  text-align: center;
  padding: 14px 16px;
  margin-right: 2em;
  cursor: pointer;
  text-decoration: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  color: #964B00;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}


li a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 4px;
}

.active {
  background-color:  #ccc;
  border-radius: 5px;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  padding: 1em 3em 0em 3em;
  display: flex;
  justify-content: center;
}


/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  /* 
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none; */
  width: 100vw;
  display: none;
}


#info {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px 10px auto auto;   
    padding: 5px;
    border: 2px solid rgba(0, 0, 0, 0.281);
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

img {
    width: 100%;
}

.mapboxgl-popup {
    max-width: 600px !important; 
}

#pac-input {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 80%; /* Full-width */
  font-size: 12px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  margin: 12px 10%;
  border: 1px solid #ddd; /* Add a grey border */
  height: 2em;
}

.filters {
  padding: 12px 40px 12px 40px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 16px; /* Increase font-size */
}

.filterNone,
.filterCulture,
.filterHealth,
.filterChildren {
  width: 100%;
  height: auto;
  background-color: #ffffff; 
  color: rgb(41, 41, 41);
  /* border: 0.5px solid black; */
  border: 1px solid #ddd; 
  margin: 0, 20px, 20px, 20px;

}

.filters button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.filters button.active {
  background-color: #ccc;
}

.cellDiv {
  overflow-y: scroll;
  max-height: 5em;
}


.searchTable {
  position: absolute;
  top: 18em;
  left: 2em;
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 70vh;
  margin: auto;
  background: rgba(255, 255, 255, 0.87);
  padding: 3em 1em;
  color: black;
  overflow-y: auto;
}

.spaceTable {
  width: 85%;
  margin: 0em 40px 3em 40px;
  border-collapse: collapse;
  table-layout:fixed;
  font-size: 14px;
}

tr {
border: 1px solid #ddd; 
}

td {
  padding: 1em;
}

th {
  padding: 2em 5%;
  background-color:#f1f1f1;
  color: hsl(30, 100%, 29%);
}

.future {
  width: 75%;
  margin: 0 20px 0px 20px;
}

 /* unvisited link */
 a:link {
  text-decoration: none;
  }

  /* visited link */
  a:visited {
  text-decoration: none;
  }

  /* mouse over link */
  /* a:hover {
  text-decoration: underline wavy;
  text-decoration-color: blue;
  } */

  /* selected link */
  a:active {
  text-decoration: underline;
  }

  #suggestionBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    margin: 2em;
    background: #f1f1f1;
    padding: 1.5em;
    color:black;
    margin-bottom: 2em;
    
  }
  .suggestionName{
    text-align: left;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .suggestionDescription{
    font-size: 18px;
    color: darkslategrey;
  }

  .suggestionScore {
    align-self: right;
    width: fit-content;
    text-align: right;
    border-radius: 4px;
    color: white;
    padding: .5em 1em;
    margin-top: 1em;
    background-color: #355E3B;
  }

  .commentSections {
    background-color:white;
    border-radius: 4px;
  }

  .scoreContainer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
  }

  .comment {
    border-radius: 4px;
    margin: 1em 2em;
    font-size: 12px;
  }

  .wrapper {
    border-bottom: 0.5px solid black;

  }

  .likeComment,
  .deleteComment {
    width: 10%;
    margin-bottom: 10px;
    height: fit-content;
    font-size: 10px;
  }
  .likeComment{
    margin-left: 70%;
  }

  .deleteComment {
    margin-left: 5%;
    margin-right: 5%;
  }

  #newComment {
    height:3em;
  }

  .login{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5%;
    margin-left: -250px;
    width: 500px;
    height: 300px;
    background-color:  #355E3B;
    color: white;

  }

 .essay {
    margin: 5% 5% 0 30%;
    font-size: 22px;
  }

  
  p.essay {
    /* padding: 2em 2em 0 2em; */
    text-indent:40px;
    line-height: 2em;
    margin: 1em 5% 0 35%;
    font-size: 18px;

  }
  .essayTitle{
    margin: 50px 50px 0 0%;
    text-align: left;
    font-size: 40px;
  }

  .essaySubTitle{
    margin: 20px 50px 200px 0%;
    text-align: left;
    font-size: 18px;
  }

  figcaption{
    text-align: right;
    font-style: italic;
    font-size: 12px;
    margin-top: -10px;
    margin-right: 40px;
  }

  figure{
    margin: 3em 5em;
  }